body { background: #37616f; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 34px; display: flex; }
.block-config-0 { color: #c7c403; font-size: 20px; margin-bottom: 5px; }
.block-user-1 { color: #dd4edd; font-size: 17px; margin-bottom: 5px; }
.block-router-2 { color: #614e04; font-size: 21px; margin-bottom: 5px; }
.block-session-3 { color: #d216b1; font-size: 12px; margin-bottom: 5px; }
.block-product-4 { color: #dbf41f; font-size: 21px; margin-bottom: 5px; }